In [7]:
import pandas as pd

In [9]:
import gspread

In [11]:
gc = gspread.service_account(filename='C:\\Users\\SHIHAB\\jupyter\\Aiquest\\Machine Learning\\Assignment\\Assignment02\\assignment-02-dsml15-shihab-e38659958f3c.json')

In [13]:
gc

In [15]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1LNTHtqtN0nZnNMxh8CiI8opale0RnQQbt5V3bj7ZCTU/edit?usp=sharing')

In [17]:
sheet

In [20]:
ws = sheet.worksheet('Sheet1')

In [22]:
ws

In [24]:
df = pd.DataFrame(ws.get_all_records())

In [25]:
df

    Name  Age
0  Sakib   25
1  Kamal   63
2  Hasan   41
3   Amir   45